.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-candy {
  position: absolute;
  width: 300px;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  bottom: 7.5%;
}

.main #candy1 {
  bottom: 17.5%;
  left: 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.main #candy2 {
  left: 12%;
  width: 340px;
  -webkit-filter: none;
          filter: none;
  -webkit-transform: rotate(20deg) scale(-1, 1);
          transform: rotate(20deg) scale(-1, 1);
}

.main .main-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.main .main-wrapper .main-title {
  font-size: 56px;
}

.main .main-wrapper #mainText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  margin-top: 20px;
  font-size: 32px;
}

.main .main-wrapper #mainText .main-text {
  font-weight: 600;
  margin-top: 20px;
  font-size: 32px;
  max-width: 700px;
  -webkit-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
}

.main .main-wrapper .main-pressme {
  margin-top: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: underline;
}

.main .main-wrapper .main-pressme:hover {
  color: #646464;
}

.main #sectionTwo {
  position: relative;
  width: 1000px;
  height: 550px;
  margin-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #sectionTwo .main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  max-width: 80%;
  padding: 20px;
  border-radius: 15px;
  text-shadow: 0 0 2px white;
}

.main #sectionTwo .main-container:first-child {
  border: 4px solid white;
}

.main #sectionTwo .main-container:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../../img/blockbg.jpg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background-size: 130%;
  z-index: 0;
}

.main #sectionTwo .main-container .main-subtitle {
  font-size: 50px;
  z-index: 1;
}

.main #sectionTwo .main-container .main-subtext {
  font-weight: 600;
  margin-top: 20px;
  font-size: 28px;
  z-index: 1;
}

.main #sectionTwo .main-container .main-pressme {
  z-index: 1;
}

.main #sectionTwo .main-subcandy {
  width: 300px;
}
