.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 1000px;
  margin-top: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.main .main-wrapper .main-title {
  font-size: 56px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main .main-wrapper #mainText {
  opacity: 0;
  font-weight: 600;
  margin-top: 20px;
  font-size: 32px;
  max-width: 700px;
  -webkit-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
}

.main .main-wrapper #mainText .main-text {
  font-weight: 600;
  margin-top: 20px;
  font-size: 32px;
  max-width: 700px;
  -webkit-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
}

.main .main-wrapper .main-pressme {
  opacity: 0;
  -webkit-transition: 0.7s ease 0s;
  transition: 0.7s ease 0s;
  margin-top: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: underline;
}

.main .main-wrapper .main-pressme:hover {
  color: #646464;
}

.main .main-wrapper .main-candy {
  position: absolute;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.main .main-wrapper #candy1 {
  width: 300px;
  bottom: 30%;
  left: 30px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.main .main-wrapper #candy2 {
  width: 300px;
  bottom: 30%;
  right: 30px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
