nav(class="nav")
  a(class="nav-ident", href="/")
    span(class="nav-title") MySweetBox
    img(class="nav-logo", src="../public/img/logo.png")
  ul(class="nav-menu")
    li(class="nav-item") 
      a(href="/goods", id="goods") Каталог
    li(class="nav-item")
      a(href="/about", id="about") О нас
    li(class="nav-item")
      a(href="/shipping", id="shipping") Доставка
    li(class="nav-item")
      a(href="/cart", id="cart") 
        img(class="nav-item-cart", src="../public/img/cart.png")