doctype html
html(lang="en")
  head
    include ../partials/head 
    link(rel="stylesheet", href="../public/styles/css/goods.css")
  body 
    include ../partials/nav 
    main(class="goods")
      h1(class="goods-title") Каталог
      div(class="goods-wrapper")
        div(class="goods-item", id="jBox")
          h3(class="goods-subtitle", id="jTitle")
          p(class="goods-count", id="jCount")
          p(class="goods-price", id="jPrice")
        div(class="goods-item", id="mBox")
          h3(class="goods-subtitle", id="mTitle")
          p(class="goods-count", id="mCount")
          p(class="goods-price", id="mPrice") 
        div(class="goods-item", id="sBox")
          h3(class="goods-subtitle", id="sTitle") 
          p(class="goods-count", id="sCount") 
          p(class="goods-price", id="sPrice") 
