doctype html
html(lang="en")
  head
    include ../partials/head
  body 
    include ../partials/nav
    main(class="main")
      div(class="main-wrapper")
        h1(class="main-title", id="mainTitle") Добро пожаловать!
        div(id="mainText")
          p(class="main-text") Наша цель - подарить вам незабываемые ощущения от экзотических сладостей со всего мира, собранных в уникальную коробку MySweetBox.
          p(class="main-text")  В зависимости от выбранного размера, вас ждет до 1/2 килограмма удовольствия! Если вы ищете подарок для дорогого вам человека, то взгляните на наш каталог.
        button(class="main-pressme", id="mainBtn") Перейти&#8594;
        img(class="main-candy", src="../public/img/candy.png", id="candy1")
        img(class="main-candy", src="../public/img/candy.png", id="candy2")