doctype html
html(lang="en")
  include ../partials/head
  //- script(src="public/js/reg.js", defer) 
  link(rel="stylesheet", href="../public/styles/css/signup.css")
  body 
    include ../partials/nav
    main(class="login")
      h1(class="login-title") Вход
      h4(class="login-status", id="status") 
      input(class="login-input", type="text", placeholder="Имя пользователя", id="uname")
      input(class="login-input", type="password", placeholder="Пароль", id="pass")
      button(class="login-btn", type="submit", id="submit") Войти