doctype html
html(lang="en")
  include ../partials/head
  script(src="public/js/login.js", defer) 
  link(rel="stylesheet", href="../public/styles/css/login.css")
  body 
    include ../partials/nav
    main(class="login")
      h1(class="login-title") Регистрация
      h2(class="login-status")
      input(class="login-input", type="text", placeholder="Username", id="uname")
      input(class="login-input", type="text", placeholder="Password", id="pass")
      input(class="login-input", type="text", placeholder="Repeat Password", id="repass")
      button(class="login-btn", type="submit", id="submit") Зарегистрироваться