doctype html
html(lang="en")
  include ../partials/head
  script(src="public/js/signup.js", defer) 
  link(rel="stylesheet", href="../public/styles/css/signup.css")
  body 
    include ../partials/nav
    main(class="login")
      h1(class="login-title") Регистрация
      h4(class="login-status", id="status") 
      input(class="login-input", type="text", placeholder="Имя от 4-ех символов", id="uname")
      input(class="login-input", type="text", placeholder="Почта: email@email.com", id="email")
      input(class="login-input", type="password", placeholder="Пароль", id="pass")
      input(class="login-input", type="password", placeholder="Повторите пароль", id="repass")
      button(class="login-btn", type="submit", id="submit") Зарегистрироваться