.goods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  .goods-title {
    margin-top: 40px;
    font-size: 56px;
  }
  .goods-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .goods-item {
      width: 30%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid white;
      border-radius: 8px;
    }
  }
}