.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: center;
  .main-candy {
    position: fixed;
    width: 300px;
    filter: opacity(.6);
    bottom: 7.5%;
  }
  #candy1 {
    bottom: 17.5%;
    left: 0;
    transform: rotate(-20deg);
  }
  #candy2 {
    left: 12%;
    width: 340px;
    filter: none;
    transform: rotate(20deg) scale(-1, 1);
  }
  .main-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    height: fit-content;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    // border: 2px solid black;
    .main-title {
      font-size: 56px;
    }
    #mainText {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      margin-top: 20px;
      font-size: 32px;
      .main-text {
        font-weight: 600;
        margin-top: 20px;
        font-size: 32px;
        max-width: 700px;
        transition: 0.6s ease 0s;
      }
    }
    .main-pressme {
      margin-top: 25px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
      border-radius: 8px;
      background-color: transparent;
      transition-duration: 150ms;
      border: none;
      cursor: pointer;
      box-shadow: none;
      text-decoration: underline;
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
  }
}