.login {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 0;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  .login-title {
    margin-top: 40px;
    font-size: 56px;
  }
  .login-status {
    width: fit-content;
    height: 20px;
  }
  .login-input {
    margin: 5px 0;
    padding-inline: 5px;
    width: 350px;
    height: 30px;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
  }
  .login-btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }
}