* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(255, 235, 215);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-track {
  background-color: rgb(180, 180, 180);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  height: 10%;
  background-color: rgb(120, 120, 120);
}
